/*
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
      background: #1C2331!important;
  }
} */

/* Navigation*/
.navbar {
  background-color: transparent;
}
.scrolling-navbar {
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}
.top-nav-collapse {
  background-color: #212529;
}
/*
footer.page-footer {
  background-color: #667490;
} */

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #212529;
  }
}


/* Keeps image size always for 70% of original - on XS devices and all above */
.img-fluid, .img-fluid-flag {
  max-width: 50%;
}
.img-fluid-flag {
  max-width: 30%;
}

/* Allows to put images on normal size for all devices bigger than XS */
@media (min-width: 768px) { 
  .img-fluid {
    max-width: 100%;
  }
 }

 @media (min-width: 768px) { 
  .img-fluid-flag {
    max-width: 50%;
  }
 }



/* Necessary for full page carousel*/
html,
body,
.view {
  height: 100%;
}

/* Carousel*/
.carousel,
.carousel-item,
.carousel-item.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
.carousel-item:nth-child(1) {
  background-image: url('/static/img/adult-apple-device-business-839465.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}



.blockquote {
  border-left: .25rem solid #eceeef;
  border-right: .25rem solid #eceeef;
}

/* Technologies Icons CSS */
.techicon {
  width: 2.5rem!important;
}


/* Page Loader CSS */
/* Center the loader */
#loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

/* Skills section */
.skill{
  font-size: 1.6rem;
}



/* Icons in skill section stay orange */
.fa-circle {
  color: #ff9400;
}

.myorange{
  color: #ff9400;
}

.btn-myorange {
  background-color: #ff9400;
}


.mylogo {
  color: #ff9400;
  font-size: 1.6rem;
}



/* Add a photo to the contact form background */
 #contact {
  background-image: url('/static/img/background-close-up-computer-872958.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Put form input borders in orange */
input[type=text], input[type=email], textarea[name=message] {
  border: 0.5px dashed grey;
}

strong.keyword {
  color:orange;
}


/* Change the container size in the CV page */
@media (min-width: 992px) {
  /* change this, by default 960px */
  .cv {
    max-width: 950px;
  }
}


/* Devicons */
.dev {
  font-size: 4rem;
}

.htitle {
  border-bottom: #ff9400;
  padding-bottom: 1rem;
}