{% load static %}
<section id="education">

  <!-- <h2 class="my-5 h3 text-center">Education</h2> -->
  <h3 class="h3 mb-5 text-center">Education</h3>

  {% for edu in educ_list  %}
  <div class="row features-small mb-5 pt-5 wow fadeIn">
    <div class="col-md-3 mb-3"><h5>{{ edu.DegreeName }}</h5><i class="fa fa-graduation-cap indigo-text mr-4" aria-hidden="true"></i>{{ edu.EndDate|date:"F Y" }}</div> 
    <div class="col-md-7 d-flex-column">{{ edu.DegreeDescription | safe }}</div>
    <div class="col-md-2"><img src="{% static edu.LogoURL %}" class="img-fluid" alt="Logo ISEP"></div>
  </div>
  {% endfor %}

</section>

