{% load static %}
<section id="education" class="px-md-5">
  <div class="container cv">
    <div class="d-flex">
      <h4 class="my-auto">Education</h4><i class=" grey-text fa fa-2x fa-graduation-cap my-auto ml-auto"></i>
    </div>
    <hr class="mb-5">
    {% for edu in educations  %}
    <div class="row features-small mb-5 pt-5 wow fadeIn">
      {% comment %} <div class="col-md-3 mb-3"><h5>{{ edu.DegreeName }}</h5>{{ edu.EndDate|date:"F Y" }}</div> 
      <div class="col-md-7 d-flex-column">{{ edu.DegreeDescription | safe }}</div>
      <div class="col-md-2"><img src="{% static edu.LogoURL %}" class="img-fluid" alt="Logo ISEP"></div> {% endcomment %}
      <div class="col-md-3">
        <div class="d-flex flex-column">
          <div class="text-center"><img src="{% static edu.logoURL %}" class="img-fluid" alt="{{edu.schoolName}} Logo"></div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <div class="d-flex"><h5 class="text-primary ml-auto">{{ edu.degreeName }}</h5></div>
        {{ edu.description | safe }}
      </div>
    </div>
    {% endfor %}
  </div>
</section>

