<!--Section: Main features & Quick Start-->
<section class="px-md-5">

    <div class="d-flex">
      <h4 class="my-auto">Professional Experiences</h4><i class=" grey-text fa fa-2x fa-bank my-auto ml-auto"></i>
    </div>
    <hr class="mb-5">
  <!--Grid row-->
  <div class="row wow fadeIn">

    <!--Grid column-->

    <div class="col-md-12 px-4">


      {% for exp in exps_list %}
      <div class="py-2 mb-5"> <!-- removed class my-auto  -->
        {% comment %} <div class="resume-item d-flex flex-sm-row flex-column"><!-- flex-column allows to put date under at breakpoint  --> {% endcomment %}
          
          <div class="resume-content mr-auto">
            <h5 class="mb-3">{{ exp.Title }}</h5>
          </div>
          <div class="d-flex flex-column flex-md-row">
            <div class="text-primary"><span class="font-weight-bold">{{ exp.Company }}</span></div>
            <div class="text-primary ml-md-auto">{{ exp.StartDate|date:"F Y" }} - {{ exp.EndDate|date:"F Y" }}</div>
          </div>
        {% comment %} </div> {% endcomment %}
        
        <div class="resume-item d-flex flex-column">
          {{ exp.ExperienceDescription | safe }}
        </div>
      </div>
      {% endfor %}


    </div>
    <!--/Grid column-->

  </div>
  <!--/Grid row-->

</section>
<!--Section: Main features & Quick Start-->
