<!--Carousel Wrapper-->
<div id="carousel-example-1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">



  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
      <!--Mask-->
      <div class="view">
        <!-- <div class="full-bg-img flex-center mask rgba-indigo-light white-text"> -->
        <div class="full-bg-img flex-center white-text">
          <ul class="animated fadeInUp col-md-12 list-unstyled list-inline align-self-end">
            <li>
              {% comment %} <h1 class="font-weight-bold text-uppercase type-it"></h1> {% endcomment %}
              <h1 id="element" class="font-weight-bold"></h1>
            </li>
            <li>
              <p class="font-weight-bold text-uppercase py-4 "></p>
            </li>
          </ul>
        </div>
      </div>
      <!--/.Mask-->
    </div>
    <!--/.First slide-->

  </div>
  <!--/.Slides-->
</div>
<!--/.Carousel Wrapper-->
