{% load static %}
<!--Carousel Wrapper-->
<div id="carousel-example-1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
      <!--Mask-->
      <div class="view">
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          <!-- Content -->
          <div class="text-center white-text px-5 wow fadeIn animated" style="visibility: visible; animation-name: fadeInRightBig;">
           
            <h1 class="mb-4" id="">
              <strong>Toufik <span style="color:orange;">SWAR</span></strong>
            </h1>
            <h3 class="d-inline-block pb-2 mb-3" id="">Freelance Information Technology Consultant</h3>
              <p class="mb-4 d-none d-md-block px-5-md lead">
                I am an IT engineer based in Brussels, also working on projects in Spain and France. I provide a range of services from <strong class="keyword">web development</strong>, <strong class="keyword">digital marketing</strong>, <strong class="keyword">data analytics</strong> and <strong class="keyword">project management</strong>.
              </p>
            <!-- <p class="mb-4 d-none d-md-block px-5 lead"><strong>Looking to grow your business or activity ?</p>
                
            <p class="mb-4 d-none d-md-block px-5 lead">
              <strong>
              Get a modern and customized website. Enhance your visibility and notoriety on the Internet via Digital Marketing. Monitor your growth through customized indicators.
              </strong>
            </p> -->

            <a href="{% url 'cv:home' %}#skills" class="btn btn-myorange btn-lg waves-effect waves-light js-scroll-trigger">Learn More</a>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>

