<!--Carousel Wrapper-->
<div id="carousel-example-1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">



  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
      <!--Mask-->
      <div class="view">
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          <!-- Content -->
          <div class="text-center white-text mx-5 wow fadeIn animated" style="visibility: visible; animation-name: fadeInRightBig;">
            <h1 class="mb-4" id="">
              {% comment %} <strong>Toufik Swar : I.T Consultant</strong> {% endcomment %}
            </h1>
            <h2 class="d-inline" id="element"></h2>
            <p>
              
            </p>
    
            <p class="mb-4 d-none d-md-block px-5 lead"><strong>Looking to grow your business or activity ?</p>
                
            <p class="mb-4 d-none d-md-block px-5 lead">
              <strong>
              Get a modern and customized website. Enhance your visibility and notoriety on the Internet via Digital Marketing. Monitor your growth through customized indicators.
              </strong>
            </p>
            
    
            <a href="{% url 'cv:home' %}#contact" class="btn btn-primary btn-sm waves-effect waves-light js-scroll-trigger">Have a question ?</a>
          </div>
        </div>
        <!-- <div class="full-bg-img flex-center mask rgba-indigo-light white-text"> -->
        <!-- <div class="full-bg-img flex-center white-text">
          <ul class="animated fadeInUp col-md-12 list-unstyled list-inline align-self-end">
            <li>
              {% comment %} <h1 class="font-weight-bold text-uppercase type-it"></h1> {% endcomment %}
              <p class="h1" id="element"></p>
            </li>
            <li>
              <p class="font-weight-bold text-uppercase py-4 "></p>
            </li>
          </ul>
        </div> -->
      </div>
    </div>

  </div>
</div>
<!--/.Carousel Wrapper-->
