{% load static %}
<section>
  <div class="container">
    <h1 class="my-5 h3 text-center d-block">Providing services in </h1>
    <div class="pt-5 row wow fadeIn">
      <div class="col-md-2 offset-md-1 mb-4 text-center">
        <img class="img-fluid-flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/fr.svg" alt="French Flag">
      </div>
      <div class="col-md-2 mb-4 text-center">
        <img class="img-fluid-flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg" alt="British Flag">
      </div>
      <div class="col-md-2 mb-4 text-center">
        <img class="img-fluid-flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/sy.svg" alt="Syrian Flag">
      </div>
      <div class="col-md-2 mb-4 text-center">
        <img class="img-fluid-flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/es.svg" alt="Spanish Flag">
      </div>
      <div class="col-md-2 mb-4 text-center">
        <img class="img-fluid-flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/pt.svg" alt="Portuguese Flag">
      </div>
    </div>
</section>
