<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="{% url 'cv:home' %}" target="">
      <strong class="">toufik.<span class="mycolor">swar</span></strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mx-3">
          <a class="nav-link" href="{% url 'cv:home' %}">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link js-scroll-trigger" href="{% url 'cv:home' %}#skills">Services</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link js-scroll-trigger" href="{% url 'cv:home' %}#contact">Contact</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link js-scroll-trigger" href="{% url 'cv:mycv' %}#about">About Me</a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/toufikswar/" class="nav-link" target="_blank">
            <i class="fa fa-2x fa-linkedin mycolor"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>
  </nav>
  <!-- Navbar -->