<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="{% url 'cv:home' %}" target="">
      <strong>Toufik Swar</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active mx-3">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link js-scroll-trigger" href="#skills" target="">Services</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link js-scroll-trigger" href="#contact" target="">Contact</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'cv:mycv' %}">Curriculum</a>
              <a class="dropdown-item" href="{% url 'cv:mycv' %}#about">About Me</a>
              <a class="dropdown-item" href="#">Blog</a>
          </div>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/toufikswar/" class="nav-link" target="_blank">
            <i class="fa fa-2x fa-linkedin"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/toufikzinho/" class="nav-link waves-effect waves-light"
            target="_blank">
            <i class="fa fa-2x fa-github"></i>
          </a>
        </li>
      </ul>

    </div>

  </div>
  </nav>
  <!-- Navbar -->