<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="#" target="">
      <strong>Toufik Swar</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active mx-3">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link js-scroll-trigger" href="#skills" target="">Skills</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link js-scroll-trigger" href="#experience" target="">Experiences</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link js-scroll-trigger" href="#education" target="">Education</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link js-scroll-trigger" href="#about" target="">About Me</a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/toufikswar/" class="nav-link" target="_blank">
            <i class="fa fa-2x fa-linkedin"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/toufikzinho/" class="nav-link waves-effect waves-light"
            target="_blank">
            <i class="fa fa-2x fa-github"></i>
          </a>
        </li>
      </ul>

    </div>

  </div>
  </nav>
  <!-- Navbar -->