<!-- Icons Grid -->
<section>
  <div class="row pt-2 px-3">
    <div class="col-lg-4 px-3 pt-5 mb-5">
      <div class="d-flex justify-content-center mb-4">
        <span class="wow rubberBand">
          <i class="fa fa-laptop fa-5x text-primary" aria-hidden="true"></i>
        </span>
      </div>
      <h1 class="text-center mb-5 mt-5 text-primary skill">Build User Interface</h1>
      <p class="black-text my-3 text-justify px-md-3"><b>Professional</b>, <b>modern</b> and <b>simple</b> interfaces focusing on a nice and smooth user experience. Simple is always better. <b>Mobile friendly</b> is important.</p>
      <ul class="list-group list-group-flush text-primary text-center">
        <li class="list-group-item border-0">Friendly UX</li>
        <li class="list-group-item border-0">Simple UI</li>
        <li class="list-group-item border-0">Responsive Design</li>
      </ul>
      <div class="d-flex justify-content-center my-5">
        <ul class="list-inline">
          <li class="list-inline-item techicon">{{ technology_dict.Html5 | safe }}</li>
          <li class="list-inline-item techicon">{{ technology_dict.Css | safe }}</li>
          <li class="list-inline-item techicon">{{ technology_dict.Bootstrap | safe }}</li>
          <li class="list-inline-item techicon">{{ technology_dict.Javascript | safe }}</li>
          <li class="list-inline-item techicon">{{ technology_dict.Jquery | safe }}</li>
        </ul>
      </div>
    </div>

    <div class="col-lg-4 px-3 pt-5">
      <div class="d-flex justify-content-center mb-4">
        <span class="wow rubberBand">
          <i class="fa fa-cogs fa-5x text-primary"></i>
        </span>
      </div>
      <h1 class="text-center mb-5 mt-5 text-primary skill">Back End</h1>
      <p class="black-text my-3 text-justify px-md-3">To manage your webiste you need an interface, adapted to your "changing" needs. I build a <b>customized admin interface</b> for you to manage your website.</p>
      <ul class="list-group list-group-flush text-primary text-center">
        <li class="list-group-item border-0">Web applications</li>
        <li class="list-group-item border-0">e-Commerce</li>
        <li class="list-group-item border-0">APIs</li>
      </ul>
      <div class="d-flex justify-content-center my-5">
        <ul class="list-inline">
          <li class="list-inline-item techicon">{{ technology_dict.Python | safe }}</li>
          <li class="list-inline-item techicon">{{ technology_dict.Django | safe }}</li>
          <li class="list-inline-item techicon">{{ technology_dict.Postgresql | safe }}</li>
          <li class="list-inline-item techicon">{{ technology_dict.Csharp | safe }}</li>
          <li class="list-inline-item techicon">{{ technology_dict.Php | safe }}</li>
          <li class="list-inline-item techicon">{{ technology_dict.Wordpress | safe }}</li>
        </ul>
      </div>
    </div>

    <div class="col-lg-4 px-3 pt-5">
      <div class="d-flex justify-content-center mb-4">
        <span class="wow rubberBand">
          <i class="fa fa-5x fa-pie-chart text-primary" aria-hiddsen="true"></i>
        </span>
      </div>
      <h1 class="text-center my-5 text-primary skill">Web Marketing</h1>
      <p class="black-text my-3 text-justify px-md-3">It is important to be visible on the web, to attract attention. It is more important to <b>stay</b> visible and to <b>maintain</b> it to this level. I will help keeping your website on top.</p>
      <ul class="list-group list-group-flush text-primary text-center">
        <li class="list-group-item border-0">SEO</li>
        <li class="list-group-item border-0">Social Medias</li>
        <li class="list-group-item border-0">Web Analytics</li>
      </ul>
      <div class="d-flex justify-content-center my-5">
        <ul class="list-inline">
          <li class="list-inline-item techicon">{{ technology_dict.Google | safe }}</li>
          <li class="list-inline-item techicon">{{ technology_dict.Facebook | safe }}</li>
          <li class="list-inline-item techicon">{{ technology_dict.Twitter | safe }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="" style="height:60px;"></div>