<!--Section: More-->
<section>
  <div class="container">
   <div class="d-flex justify-content-center"><h1 class="my-5 h3 border-bottom border-warning pb-2 d-inline-block">Services</h1></div>
  
  <!--First row-->
  <div class="row features-small my-0 pt-5 wow fadeIn">

    <!--Grid column-->
    <div class="col-xl-3 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col text-center mb-4">
          <span class="fa-stack fa-2x wow rubberBand">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-2 pl-3 text-center">
          <h2 class="feature-title font-weight-normal mb-1 h5">Front End</h2>
          <p class="grey-text mt-2">Create <strong>friendly User Interfaces</strong></p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-12 text-center mb-4">
          <span class="fa-stack fa-2x wow rubberBand">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
            </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-2 text-center">
          <h2 class="feature-title font-weight-normal h5 mb-1">Back End</h2>
          <p class="grey-text mt-2">Build <strong>Custom Backends, Databases, APIs</strong>
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-12 text-center mb-4">
          <span class="fa-stack fa-2x wow rubberBand">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-wordpress fa-stack-1x fa-inverse"></i>
            </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-2 text-center">
          <h2 class="feature-title font-weight-normal h5 mb-1">CMS</h2>
          <p class="grey-text mt-2">Build <strong>Blogs, Websites and E-commerce</strong solutions</p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-12 text-center mb-4">
          <span class="fa-stack fa-2x wow rubberBand">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
            </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-2 text-center">
          <h2 class="feature-title font-weight-normal mb-1 h5">Digital Marketing</h2>
          <p class="grey-text mt-2">Optimize your site for Search Engines <strong>(SEO, SEA)</strong></p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

  </div>
  <!--/First row-->







  <!--Second row-->
  <div class="row features-small mt-0 wow fadeIn">

    <!--Grid column-->
    <div class="col-xl-3 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-12 text-center mb-4">
          <span class="fa-stack fa-2x wow rubberBand">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
            </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-2 text-center">
          <h2 class="feature-title font-weight-normal h5 mb-1">Data Science</h2>
          <p class="grey-text mt-2"> <strong>Import, Clean and Analyze data</strong> with an analytical aproach</p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-12 text-center mb-4">
          <span class="fa-stack fa-2x wow rubberBand">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
            </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-2 text-center">
          <h2 class="feature-title font-weight-normal h5 mb-1">Project Management</h2>
          <p class="grey-text mt-2">Manage <strong>software, data and digital</strong> projects implementation</p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-12 text-center mb-4">
          <span class="fa-stack fa-2x wow rubberBand">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
            </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-2 text-center">
          <h2 class="feature-title font-weight-normal h5 mb-1">Technical Support</h2>
          <p class="grey-text mt-2">Provide <strong>technical support and maintenance</strong>, find issues and solve them</p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-12 text-center mb-4">
          <span class="fa-stack fa-2x wow rubberBand">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
            </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-2 text-center">
          <h2 class="feature-title font-weight-normal mb-1 h5">Trainings</h2>
          <p class="grey-text mt-2">Train on a range of technologies or concepts in <strong>5 different languages</strong></p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

  </div>
  <!--/Second row-->

  <hr class="my-5" style="border-color:white;">
  <p class="my-2 text-center h5 d-block">All services are provided in 5 languages </p>
  <div class="pt-5 row wow fadeIn">
    <div class="col-md-2 offset-md-1 mb-4 text-center">
      <img class="img-fluid-flag rounded wow rubberBand" src="https://lipis.github.io/flag-icon-css/flags/4x3/fr.svg" alt="French Flag">
    </div>
    <div class="col-md-2 mb-4 text-center">
      <img class="img-fluid-flag rounded wow rubberBand" src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg" alt="British Flag">
    </div>
    <div class="col-md-2 mb-4 text-center">
      <img class="img-fluid-flag rounded wow rubberBand" src="https://lipis.github.io/flag-icon-css/flags/4x3/sy.svg" alt="Syrian Flag">
    </div>
    <div class="col-md-2 mb-4 text-center">
      <img class="img-fluid-flag rounded wow rubberBand" src="https://lipis.github.io/flag-icon-css/flags/4x3/es.svg" alt="Spanish Flag">
    </div>
    <div class="col-md-2 mb-4 text-center">
      <img class="img-fluid-flag rounded wow rubberBand" src="https://lipis.github.io/flag-icon-css/flags/4x3/pt.svg" alt="Portuguese Flag">
    </div>
  </div>
  <hr class="my-5" style="border-color:white;">

  <p class="my-2 h5 text-center d-block">Using some tools like</p>
  <div class="pt-5 row wow fadeIn">
    <div class="col-md-2 mb-4 text-center">
      <i class="dev devicon-javascript-plain colored"></i>
    </div>
    <div class="col-md-2 mb-4 text-center">
      <i class="dev devicon-wordpress-plain colored"></i>
    </div>
    <div class="col-md-2 mb-4 text-center">
      <i class="dev devicon-html5-plain colored"></i>
    </div>
    <div class="col-md-2 mb-4 text-center">
      <i class="dev devicon-css3-plain colored"></i>
    </div>
    <div class="col-md-2 mb-4 text-center">
      <i class="dev devicon-amazonwebservices-plain colored"></i>
    </div>
    <div class="col-md-2 mb-4 text-center">
      <i class="dev devicon-python-plain colored"></i>
    </div>
  </div>
  <div class="pt-5 row wow fadeIn">
    <div class="col-md-2 mb-4 text-center">
      <i class="dev devicon-bootstrap-plain colored"></i>
    </div>
    <div class="col-md-2 mb-4 text-center">
      <i class="dev devicon-django-plain-wordmark colored"></i>
    </div>
    <div class="col-md-2 mb-4 text-center">
      <i class="dev devicon-git-plain colored"></i>
    </div>
    <div class="col-md-2 mb-4 text-center">
      <i class="dev devicon-github-plain colored"></i>
    </div>
    <div class="col-md-2 mb-4 text-center">
      <i class="dev devicon-google-plain-wordmark colored"></i>
    </div>
    <div class="col-md-2 mb-4 text-center">
      <i class="dev devicon-jquery-plain-wordmark colored"></i>
    </div>
  </div>
  <hr class="my-5" style="border-color:white;">



</div>

</section>
<!--Section: More-->