<!--Section: More-->
<section>
  <div class="container">
   <div class="d-flex justify-content-center"><h1 class="my-4 h3 border-bottom border-primary pb-2 d-inline-block">Services</h1></div>
  
  <!--First row-->
  <div class="row features-small my-0 pt-3">

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6 wow fadeInLeft">
      <!--Grid row-->
      <div class="row">
        <div class="col text-center mb-4">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-file-code-o fa-stack-1x fa-inverse"></i>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-2 pl-3 text-center">
          <h2 class="feature-title font-weight-normal mb-1 h5">Full Stack Development</h2>
          <hr class="mb-3">
          <p class="black-text mt-2 mb-1"><b><mark>Back End</mark></b></p>
          <p class="mb-1">Build core application logic</p>
          <ul class="list-inline grey-text mt-0">
            <li class="list-inline-item">Python</li>
            <li class="list-inline-item">Django</li>
            <li class="list-inline-item">C&num;</li>
            <li class="list-inline-item">Node.js</li>
            <li class="list-inline-item">MVC</li>
            <li class="list-inline-item">API</li>
          </ul>
          <p class="black-text mt-4 mb-1"><b><mark>Front End</mark></b></p>
          <p class="mb-1">Design <strong>friendly user interfaces</strong></p>
          <ul class="list-inline grey-text">
            <li class="list-inline-item">HTML</li>
            <li class="list-inline-item">CSS</li>
            <li class="list-inline-item">Bootstrap</li>
            <li class="list-inline-item">Vue.js</li>
            <li class="list-inline-item">jQuery</li>
          </ul>
          <p class="black-text mt-4 mb-1"><b><mark>Database</mark></b></p>
          <p class="mb-1">Manage <strong>SQL</strong> and <strong>NoSQL</strong> DBs</p>
          <ul class="list-inline grey-text">
            <li class="list-inline-item">Microsoft SQL Server</li>
            <li class="list-inline-item">PostgreSQL</li>
            <li class="list-inline-item">MongoDB</li>
          </ul>
          <p class="black-text mt-4 mb-1"><b><mark>Project Management</mark></b></p>
          <p class="mb-1">Coordinate, plan and document projects</p>
          <ul class="list-inline grey-text">
            <li class="list-inline-item">Agile</li>
            <li class="list-inline-item">V-Model</li>
          </ul>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6 wow fadeInUp">
      <!--Grid row-->
      <div class="row">
        <div class="col-12 text-center mb-4">
          <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
            </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-2 pl-3 text-center">
          <h2 class="feature-title font-weight-normal mb-1 h5">Digital Services</h2>
          <hr class="mb-3 myorange">
          <p class="black-text mt-2 mb-1"><b><mark>Web Design</mark></b></p>
          <p class="mb-1"><strong>CMS</strong> or <strong>custom made</strong> websites</p>
          <ul class="list-inline grey-text">
            <li class="list-inline-item">WordPress</li>
            <li class="list-inline-item">Django</li>
          </ul>
          <p class="black-text mt-4 mb-1"><b><mark>E-commerce</mark></b></p>
          <p class="mb-1">Build <strong>online shops</strong></p>
          <ul class="list-inline grey-text">
            <li class="list-inline-item">WooCommerce</li>
            <li class="list-inline-item">Prestashop</li>
          </ul>
          <p class="black-text mt-4 mb-1"><b><mark>Search Engine Marketing</mark></b></p>
          <p class="mb-1">Setup <strong>SEO</strong> and <strong>SEA</strong> strategies</p>
          <ul class="list-inline grey-text">
            <li class="list-inline-item">Analytics</li>
            <li class="list-inline-item">Tag Manager</li>
            <li class="list-inline-item">Data Studio</li>
          </ul>
          <p class="black-text mt-4 mb-1"><b><mark>Social Medias</mark></b></p>
          <p class="mb-1">Build a <strong>social media marketing</strong> strategy</p>
          <ul class="list-inline grey-text">
            <li class="list-inline-item">Facebook</li>
            <li class="list-inline-item">Instagram</li>
            <li class="list-inline-item">Twitter</li>
          </ul>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6 wow fadeInRight">
      <!--Grid row-->
      <div class="row">
        <div class="col-12 text-center mb-4">
          <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
            </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-2 pl-3 text-center">
          <h2 class="feature-title font-weight-normal mb-1 h5">Data Analytics</h2>
          <hr class="mb-3 myorange">
          <p class="black-text mt-4 mb-1"><b><mark>Data Collection</mark></b></p>
          <p class="mb-1">Get data from various <strong>datapoints</strong></p>
          <ul class="list-inline grey-text">
            <li class="list-inline-item">Web Scraping</li>
            <li class="list-inline-item">Excel</li>
            <li class="list-inline-item">CSV</li>
            <li class="list-inline-item">SQL</li>
          </ul>
          <p class="black-text mt-4 mb-1"><b><mark>Data Cleaning</mark></b></p>
          <p class="mb-1">Fix, filter and remove to get relevant <strong>datasource</strong></p>
          <ul class="list-inline grey-text">
            <li class="list-inline-item">Scripting</li>
            <li class="list-inline-item">Python</li>
            <li class="list-inline-item">Pandas</li>
          </ul>
          <p class="black-text mt-4 mb-1"><b><mark>Exploration</mark></b></p>
          <p class="mb-1">Build <strong>models</strong> and <strong>extract knowledge</strong> from data</p>
          <ul class="list-inline grey-text">
            <li class="list-inline-item">Regression</li>
            <li class="list-inline-item">Decision Tree</li>
            <li class="list-inline-item">Jupyter</li>
          </ul>
          <p class="black-text mt-4 mb-1"><b><mark>Visualization</mark></b></p>
          <p class="mb-1">Show <strong>data</strong> using graphical librairies</p>
          <ul class="list-inline grey-text">
            <li class="list-inline-item">Matplotlib</li>
            <li class="list-inline-item">Seaborn</li>
            <li class="list-inline-item">Numpy</li>
          </ul>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->


  </div>
  <!--/First row-->




  <hr class="my-5" style="border-color:white;">
  <p class="my-2 text-center h5 d-block">Multilingual</p>
  <div class="pt-5 row wow fadeIn">
    <div class="col-md-2 offset-md-1 mb-4 text-center">
      <img class="img-fluid-flag rounded wow rubberBand" src="https://lipis.github.io/flag-icon-css/flags/4x3/fr.svg" alt="French speaker" title="French">
    </div>
    <div class="col-md-2 mb-4 text-center">
      <img class="img-fluid-flag rounded wow rubberBand" src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg" alt="English speaker" title="English">
    </div>
    <div class="col-md-2 mb-4 text-center">
      <img class="img-fluid-flag rounded wow rubberBand" src="https://lipis.github.io/flag-icon-css/flags/4x3/sy.svg" alt="Arabic speaker" title="Arabic">
    </div>
    <div class="col-md-2 mb-4 text-center">
      <img class="img-fluid-flag rounded wow rubberBand" src="https://lipis.github.io/flag-icon-css/flags/4x3/es.svg" alt="Spanish speaker" title="Spanish">
    </div>
    <div class="col-md-2 mb-4 text-center">
      <img class="img-fluid-flag rounded wow rubberBand" src="https://lipis.github.io/flag-icon-css/flags/4x3/pt.svg" alt="Portuguese speaker" title="Portuguese">
    </div>
  </div>
  <hr class="my-5" style="border-color:white;">




</div>

</section>
<!--Section: More-->