{% load static %}
<section>
  <div class="container cv">
    <div class="row pt-md-5">
      <div class="col-md-4 my-4 text-center wow fadeInLeft">
        <img src="{% static 'img/toufik.png' %}" class="img-fluid z-depth-1-half rounded-circle" alt="Photo of Toufik Swar">
      </div>
      <div class="col-md-8 my-4 d-flex justify-content-center align-items-center wow fadeInRight">
        <p class=" mx-1 px-4 text-justify story">{{ person.profile.introduction | safe }}</p>
      </div>
    </div>
    <div class="my-5"></div>
    <div class="row">
      <div class="col-md-12 my-4 wow fadeInRight">
        <blockquote class="blockquote">
          <p class="mb-0" style="font-size:1.3rem;padding-top:0;">{{ person.profile.quote }}</p>
          <footer class="blockquote-footer text-right"><cite title="Source Title">{{ person.profile.author }}</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
