{% if site_configuration.show_testimonials  %}
{% load staticfiles %}
<section id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-center m-auto">
        <div class="d-flex justify-content-center"><h1 class="my-4 h3 border-bottom border-primary pb-2 d-inline-block">Testimonial</h1></div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Carousel indicators -->
          {% if testimonials_count == 1 %}
          
          {% else %}
          <ol class="carousel-indicators">
          {% for testimonial in testimonials %}
            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0   %}active{% endif %}"></li>
          {% endfor %}
            {% comment %} <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li> {% endcomment %}
          </ol> 
          {% endif %}
            
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            {% for testimonial in testimonials %}
            <div class="item carousel-item {% if forloop.counter == 1   %}active{% endif %}">
              <div class="img-container"><img class="img-testimonial" src="{% static testimonial.image %}" alt=""></div>
              <p class="testimonial"><i class="fa fa-quote-left"></i>
              {{testimonial.content}} <i class="fa fa-quote-right"></i></p>
              <p class="overview"><b>{{testimonial.reference}}</b>, {{testimonial.role}}</p>
            </div>
            {% endfor %}
          </div>
          {% if testimonials_count > 1 %}
           <!-- Carousel controls -->
            <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}