<!--Footer-->
<footer class="page-footer text-center font-small mt-0 wow fadeIn">

  <!--Call to action-->

  <!--/.Call to action-->



  <!-- Social icons -->
  <div class="pt-4 pb-4">
      <ul class="list-inline grey-text mt-0">
          <li class="list-inline-item"><em>Brussels</em></li>
          <li class="list-inline-item"><em>Paris</em></li>
          <li class="list-inline-item"><em>Madrid</em></li>
          <li class="list-inline-item"><em>Lisbon</em></li>
        </ul>
    
    <a href="https://plus.google.com/+ToufikSwar" target="_blank">
      <i class="fa fa-google-plus fa-2x mx-3"></i>
    </a>
    <a href="https://www.linkedin.com/in/toufikswar/" target="_blank">
      <i class="fa fa-linkedin fa-2x mx-3"></i>
    </a>
    <a href="{% url 'cv:home' %}#contact">
      <i class="fa fa-envelope fa-2x mx-3"></i>
    </a>


  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
      &copy; {{year}} Copyright - All rights reserved
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->