{% load i18n %}
{% load static %}
<!--Carousel Wrapper-->
<div id="carousel-example-1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
      <!--Mask-->
      <div class="view">
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          <!-- Content -->
          <div class="text-center white-text px-5 wow fadeIn animated" style="visibility: visible; animation-name: fadeInRightBig;">
           
            
            <!-- <h3 class="d-inline-block pb-2 mb-3" id="">Freelance Information Technology Consultant</h3> -->
              <p class="mb-1  d-md-block px-5-md lead">
                {% trans 'Welcome' %}
                Computer Engineer with 10 years of international experience working on various projects in main industry leaders. 
              </p>
              <p class="mb-4  d-md-block px-5-md lead">
                I provide a range of services including <em class="keyword">web development</em>, <em class="keyword">digital marketing</em>, <em class="keyword">data analytics</em> and <em class="keyword">project management</em>.
              </p>

            <a href="{% url 'cv:home' %}#skills" class="btn btn-mycolor btn-lg waves-effect waves-light js-scroll-trigger">Learn More</a>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>

