{% extends "cv/base.html" %}

{% block SEO %}
  <meta name="description" content="Information Technology Engineer online CV and Experiences " />
  <meta name="keywords" content="Information Technology, CV, IBM, MasterCard, BNP Paribas, Camus Lebkiri, Communication, Requirements, Trainings, ISEP, IAE de Paris La Sorbonne, MPSI, Multilingual" />
  <meta name="robots" content="index, follow" />
{% endblock SEO %}

{% block title %}<title>Toufik Swar - A few words about me</title>{% endblock title %}


{% block content %}
<style>
  .navbar {
    background-color: #212529;
  }
  .scrolling-navbar {
    transition: none;
  }
  .top-nav-collapse {
    background-color: #212529;
  }  
</style>

<main>
  <span id="about" class="d-flex"></span>
  <hr class="my-5" style="border-color:white;">
  {% include "cv/about_me.html" %}
  
  <hr class="my-5" style="border-color:white;">

  {% include "cv/experiences.html" %}

  <span id="education"></span>
  <hr class="my-5" style="border-color:white;">

  {% include "cv/education.html" %}



  {% comment %} {% include "cv/about_me.html" %} {% endcomment %}
</main>

{% endblock content %}